.card {
    width: 300px;
    margin: 1em;
    border: 1px solid var(--light-violet);
    border-radius: 10px;
    overflow: hidden;
}

.card__img__container {
    width: 100%;
}

.card__img {
    width: 100%;
}

.card__body {
    height: 40%;
    padding: 1em;
}

.card__btn__container {
    padding: 1em;
}

.edit {
    background-color: var(--white);
    color: var(--black);
}

.delete {
    background-color: var(--red);
    color: var(--white);
}