

/* PALETA DE COLORES DE LA APP */
:root{
  --white: #f8f8f8;
  --grey: #bdafff;
  --light-violet: #9890b3;
  --mid-violet: #ccc4f0;
  --dark-violet: #153fb4;
  --green: #35c362;
  --red: #be5d30;
  --black: #080808;
}


* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--grey);
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font: 16px 'Raleway', sans-serif;
  width: fit-content;
  scroll-behavior: smooth;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  *{
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  *{
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  *{
    font-size: 10px;
  }
}